:root {
/*  Application theme colours */
    --background: #EBC2C1;
    --primary: #CD5D51;
    --accent: #904139;

    --background_acc: #d6d7fa;
    --primary_acc: #7678ed;
    --accent_acc: #5e60be;

/*  General colours */
    --white: #FFFFFF;
}

body {
    min-width: 350px;
    width: 100%;
    height: auto;
    background-color: var(--background);
    margin: 0;
    padding: 0;
    border: 5px solid var(--primary);
    border-radius: 15px;
    overflow: hidden;
    display: block;
    box-sizing: border-box;
    font-family: 'Orelega One', Arial, serif;
}

.popup_header {
    align-content: center;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 15px;
    padding-left: 80px;
    padding-right: 80px;
}

.popup_header img {
    width: 110px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -10px;
}

.popup_header h1 {
    color: var(--primary);
    font-size: 18px;
}

.popup_body {
    margin-bottom: 10px;
    margin-left: 12px;
}

.popup_body hr {
    border: 2px solid var(--primary);
    border-radius: 6px;
    margin-left: -24px;
    margin-right: -4px;
}

.popup_body h1 {
    color: var(--primary);
    font-size: 18px;
}

.popup_body label {
    color: var(--primary);
    font-size: 16px;
}

.grid_accessibility {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin-top: -5px;
    margin-bottom: -5px;
}

/* Toggle On/Off Slider */
.switch {
    position: relative;
    display: inline-block;
    width: 55px;
    height: 27px;
    margin-left: 100px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--accent);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 19px;
    width: 19px;
    left: 4px;
    bottom: 4px;
    background-color: var(--white);
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #CD5D51;
}

input:focus + .slider {
    box-shadow: 0 0 1px #CD5D51;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.grid_colour_theme {
    margin-bottom: 10px;
}

.grid_reset {
    margin-top: 10px;
    margin-bottom: 10px;
}

.colours_btn {
    margin-left: -7px;
    background-color: var(--background);
    border: none;
    font-family: inherit;
    font-size: 18px;
    color: var(--primary);
    text-align: left;
    transition: 0.3s;
    cursor:pointer;
}

.colours_btn:hover {
    color: var(--accent);
}